.getQueriesContainer {
    padding: 20px;
}

.getQueriesTable {
    width: 100%;
    border-collapse: collapse;
}

.getQueriesTable th, .getQueriesTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

.getQueriesTable th {
    background-color: #f2f2f2;
}
