
.footer {
    background-color: #bac7d4; 
    padding: 40px 0;
    border-top: 1px solid #e9ecef; 
    text-align: left; 
  }
  
  .footer h6 {
    color: #343a40; 
    margin-bottom: 1rem;
    font-size: 1.25rem; 
    font-weight: bold; 
  }
  
  .footer p {
    color: black;
    font-size: 1rem; 
  }
  
  .footer ul {
    padding-left: 0; 
    list-style-type: none; 
    margin: 0; 
  }
  
  .footer ul li {
    margin-bottom: 0.5rem; 
    font-size: 1rem; 
  }
  
  .footer a {
    color: #007bff; 
    text-decoration: none;
    font-weight: normal; 
  }
  
  .footer a:hover {
    text-decoration: underline;
    color: #0056b3; 
  }
  
  #txt, #link {
    margin-top: 1rem;
    
  }
  
  .footer .row {
    margin-bottom: 2rem;
  }
  
  .footer .container img {
    margin: 0 10px; 
    width: 40px;
    height: 40px; 
  }
  
  @media (max-width: 767.98px) {
    .footer .row {
      text-align: center;
    }
    
    .footer .container img {
      margin: 10px auto; 
      width: 35px; 
      height: 35px;
    }
  
    .footer ul {
      padding-left: 0; 
    }
  }
  