
.getQueriesContainer {
    padding: 20px;
}

.table-responsive {
    overflow-x: auto;
}

.getQueriesTable {
    width: 100%;
    border-collapse: collapse;
}

.getQueriesTable th, .getQueriesTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

.getQueriesTable th {
    background-color: #f2f2f2;
}


@media (max-width: 768px) {
    .getQueriesTable th, .getQueriesTable td {
        font-size: 12px;
        padding: 6px;
    }
}

