.form-container {
    max-width: 450px;
    margin: auto;
    padding: 20px;
    border: 1px solid #0d0a0a;
    border-radius: 8px;
    background-color: #c6c2c2;
    margin-top: 15px;
  }
  
  .main {
    background-image: url('/public/Images/form.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  h2 {
    text-align: center;
    color: #333;
    font-size: 40px;
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  .form-group {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0px;
    font-size: 18px;
  }
  
  .form-group label {
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-group input {
    height: 30px;
  }
  
  .form-group textarea {
    height: 50px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 10px;
    width: 80%;
    height: 90%;
  }
  
  button, .btn-success {
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 40px; 
    width: 100px; 
    text-align: center;
    text-decoration: none;
    line-height: 24px; 

  }
  
  button:hover, .btn-success:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .form-group {
      grid-template-columns: 1fr;
    }
  
    .form-group label {
      text-align: left;
    }
  
    .button-group {
      flex-direction: column;
      gap: 10px;
    }
  }